<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link
    href="../static/static.css"
    rel="stylesheet">

    <title>
        {% block title %}{% endblock %}
    </title>

    {% block head %}

        {% for msg in get_flashed_messages() %}
            <p class="flash-msg">{{ msg }}</p>
        {% endfor %}

        <a href = '/'>Home</a><br><br>

        {% if current_user != None %}
        <!-- <a href = '/logout', method = "POST">Logout</a><br><br> -->
        <div class = "logout">
            <form method = "POST" action = "/logout">
            <button class = "logout-button" type = "submit">Logout</button></form></div>
        {% endif %}

    {% endblock %}

</head>

<body>

    {% block body %}
    {% endblock %}

    {% block after_body %}
    {% endblock %}

</body>