{% extends 'base.html' %}


{% block title %}
{% endblock %}


{% block body %}

LOGIN PAGE! :D

<div class="login-page container-fluid">
    <br><br>Please Enter Log-in Info:</h2><br><br>
        <form method = "POST" action = "/">
        <div class = "login">
            <label for = "email">Email</label><br>
            <input id = "email" type = "email" name = "email" required /></textarea><br>
            <label for = "password">Password</label><br>
            <input id = "password" type = "password" name = "password" required /></textarea><br>
        </div><br>
        <div class = "login">
            <button class="login-button" type = "submit" id = "submit-info">Login</button>
        </div></form><br><br>
    </div>


{% endblock %}