{% extends 'base.html' %}


{% block title %}
{% endblock %}


{% block body %}

CREATE ACCOUNT PAGE! :D

<br><br>
<form action = "/create-account" method = "POST">
    <div class = "login">
        <input id = "username" name = "username" placeholder = "Username" required /><br><br>
        <input id = "fname" name = "fname" placeholder = "First Name" required /><br><br>
        <input id = "lname" name = "lname" placeholder = "Last Name" required /><br><br>
        <input id = "job_title" name = "job_title" placeholder = "Job Title"><br><br>
        <input id = "email" type = "email" name = "email" placeholder = "Email"><br><br>
        <input id = "password" type = "password" name = "password" placeholder = "Password"><br><br>
        <input id = "city" name = "city" placeholder = "City"><br><br>
        <input id = "state" name = "state" placeholder = "State"><br><br>
        Upload a profile photo!<br>
        <input type = "file" name = "picture"><br><br>
        <button type = "submit" name = "login">Sign Up!</button>
    </div>
</form>


{% endblock %}